@{
    ViewData["Title"] = "About";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nolans Web-Developer Portfolio</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <section class="about">
        <div class="aboutContent">
            <h1>Hi, I'm Nolan Mayer</h1>
            <h3>full-stack software developer</h3>
            <p>
                Born and raised in Nebraska, currently pursuing a bachelors degree in Computing with an empasis on software engineering at Doane University. As a student athlete having a workout plan is imperative to not only staying healthy but optimizing performance on the track. This application was built to help organize this process.
            </p>
            <div class="btn-box">
                <a href="https://open.kattis.com/users/nolan-mayer" class="button">Kattis</a>
                <a href="https://www.linkedin.com/in/nolan-mayer-1b64a3252/" class="button">Linkedin</a>
                <a href="https://github.com/Nolan-Mayer" class="button">Github</a>
            </div>
        </div>

        <div class="image-area">
            <img src="~/Images/Mayer, Nolan.jpg" alt="Profile Pictutre" width="600px" height="600px">
        </div>
    </section>
</body>
