@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nolans Web-Developer Portfolio</title>
    <link rel="stylesheet" href="~/css/site.css">
    <script src="~/js/site.js" defer></script>
</head>
<body>
    <section class="home">
        <div class="HomeMain">
            <h1>💪 Welcome to Weekly Workouts 💪</h1>
            <p></p>
            <p id='quoteHolder'></p>
            <p id='authorHolder'></p>
        </div>
    </section>
</body>